<h1>Nouvelle commande</h1>
<p>Nom : {{ data.Nom }}</p>
<p>Prenom : {{ data.Prenom }}</p>
<p>Telephone : {{ data.Telephone }}</p>
<p>Artiste : {{ data.Artiste }}</p>
<p>Date : {{ data.Date |date('d/m/Y') }}</p>
<p>Heure : {{ data.Heure }}</p>
<p>Nombredeplace : {{ data.Nombredeplace }}</p>
