<h1>Nouvelle commande</h1>
<p>Nom : {{ data.lastName }}</p>
<p>Prenom : {{ data.firstName }}</p>
<p>Telephone : {{ data.phone }}</p>
<p>Couriel : {{ data.email }}</p>
<p>Artiste : {{ data.artist }}</p>
<p>Date : {{ data.date |date('d/m/Y') }}</p>
<p>Heure : {{ data.hour }}</p>
<p>Nombredeplace : {{ data.nbOfPlace }}</p>
