{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!
{% endblock %}

{% block body %}

	<div class="text-center mb-5 mt-5">
		{% for category in categories %}
			<a href="{{ path('artist_view_by_category', {'slug':category.slug}) }}" role="button" class="btn btn-outline-{{category.color}} mx-1">{{category.name}}</a>
		{% endfor %}
	</div>
	<div class="row mt-5">
		{% for artist in artists %}
			<div class="col-4">
				<div class="card border-{{ artist.category.color | default('dark') }} mb-5" style="max-width: 23rem; min-height:15rem">
					<div class="card-header align-self-end">
						<span class="badge rounded-pill bg-{{ (artist.concert is same as null) ? 'primary' : 'secondary' }}">{{ (artist.concert is same as null) ? 'Music de rue' : 'En Concert' }}</span>
					</div>
					<div class="card-body">
						<h4 class="card-title">
							{{ artist.name }}</h4>
						<p class="card-text">{{ artist.description | u.truncate(100, '...') }}</p>
						<p class="card-text">
							<a href={{ path('artist_view', {'slug':artist.slug} ) }}>Decouvrir l'artiste</a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="d-flex justify-content-center mb-5">
			{{knp_pagination_render(artists)}}
		</div>
	</div>
{% endblock %}
