{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}
{% block body %}
<div class="card border-{{ artist.category.color | default('dark') }} mb-3 mt-5" style="max-width: 100%;">
  <div class="card-body">
    <h1 class="card-title">{{ artist.name }}</h1>
    <p class="card-text">{{ artist.description }}</p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a href="{{ path('artist_home') }}" class="btn btn-primary px-5">Retour à la liste des artistes</a>
   {# {% if app.request.query.get('agenda') %}
      <a href="{{ path('billeterie_agenda') }}" type="button"class="btn btn-primary px-5">Retour à l'agenda des concerts</a>
    {% else %}
      <a href="{{ path('artist_home', {'page':1}) }}" type="button" class="btn btn-primary px-5">Retour à la liste des artistes</a>
    {% endif %} #}
</div>
{% endblock %}
